// /* ++++++++++++++++++++++++++++++++++++++++++++++++++++ */
//  -------------------RESET GENERAL--------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    position: relative;
    top: 0px;
    bottom: 0px;
    background-color: rgba(253, 192, 122, 0.281);
}

@mixin centradoContenido($tipo, $ejeX, $ejeY) {
    display: $tipo;
    justify-content: $ejeX;
    align-items: $ejeY;
}

@mixin contenidoImagen($ancho, $alto) {
    width: $ancho;
    height: $ancho;
}