@import'./variables';

// /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
// /* -------------------------STYLES DE CARD------------------------------ */
.card {
    background-color: $backgroundCard;
    display: inline-block !important;
    padding: 0px;

    &__contenedorImagen {
        overflow: hidden;
        height: 50%;
        border-top-right-radius: 4.3px;
        border-top-left-radius: 4.3px;
    }

    &__producto {
        overflow: hidden;
        height: 250px;
    }

    &__imagen {
        @include contenidoImagen(100%, 100%);
        object-fit: cover;
        transition: all 1.5s;
    }

    &__contenedorImagen:hover img {
        transform: scale(1.2);
    }

    &__parrafo {
        font-family: $tipoLetraSecundario;
    }

    &__parrafo--orden {
        text-align: $ordenParrafoCard !important;
        font-size: 20px;
    }

    &__producto:hover img {
        transform: scale(1.172);
    }

    &__video {
        overflow: none;
    }

    &__video--ubicacion {
        @include contenidoImagen(100%, 100%);
        object-fit: cover;
        border-radius: 5px;
        backdrop-filter: blur(8px);
        box-shadow: 2px 2px 10px #e79a26;
    }

    &__titulo {
        font-family: $tipoLetraPrimario;
        text-transform: $varianteLetra;
        text-align: $ordenParrafoCard;

    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }


}