// IMPORTS
@import './variables';

// /* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
// /*-------------------------------------MENU HEADER----------------------------------------- */
.navbar-container {
    &__gradiente {
        backdrop-filter: blur(8px);
        box-shadow: 0 0 20px #cc0066;

        /* GRADIENTE */
        background: $gradienteFondo;
        background: linear-gradient(90deg, $gradienteFondo 8%, $degradado1 41%, $degradado2 63%, $degradado3 88%);
    }

    &__contenedorLogo {
        padding: 0.3rem;
        width: 100px;
    }

    &__logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__enlaces {
        text-transform: uppercase;
        font-family: $tipoLetraPrimario;
        padding: 10px;
    }
}

.navbar-dark :hover {
    color: black !important;
}